# Initial Population

- population: chromosome으로 이루어진 집합, 배열, 리스트
- chromosome: gene으로 이루어진 집합, 배열, 리스트
- gene: 최소 단위

## 문제 
- gene의 개수가 7개인 chromosome이 10개인 초기 population을 만들어라~
- gene의 범위는 1에서 100사이의 정수

### 패키지
- ppt 템플릿

In [3]:
import numpy # numpy라는 템플릿을 불러옴

In [4]:
gene = 7   # 1~ 100 사이
pop = 10   # 10개, 10명

## 순서
1. 1~100사이의 난수를 발생시킨다  -- gene
2. gene을 7개가 담긴 리스트를 만든다 -- chromosome
3. chromosome 10개를 담은 리스트를 만든다 -- population

In [29]:
# numpy random randint는 최소값, 최대값, 발생시킬 난수의 개수 size = N

# 순서 1
numpy.random.randint(1,100)

# 순서 2
numpy.random.randint(1,100, size = gene)

# 순서 3
numpy.random.randint(1,100, size = gene) # 이걸 10개 만들면 되겠구나!!

array([67, 22, 94, 82, 57, 38, 11])

## 방법 1

In [33]:
initial = []
for i in range(10):
    initial.append(numpy.random.randint(1,100, size = gene))

In [34]:
initial

[array([75, 64, 72,  9, 51, 49, 27]),
 array([25, 39, 22, 57, 58,  1,  8]),
 array([57, 99, 82, 86,  3, 99, 15]),
 array([67, 57, 34, 65, 95, 97,  4]),
 array([72, 45, 84, 39, 70, 39, 28]),
 array([47, 32, 58, 29, 13, 77, 86]),
 array([52, 75, 99,  9,  3, 23, 22]),
 array([50, 30,  7, 80, 48, 29, 25]),
 array([24, 87, 65, 91, 22, 75, 39]),
 array([86, 62, 78, 39, 27, 14, 67])]

## 방법 2

In [45]:
# 크로모좀이 사는 마을
initial = []



for i in range(10):

    #  하나의 chromosome
    ch = []
    for j in range(7):
        # 1. gene 만들기
        ch.append(numpy.random.randint(1,100))   # chromosome에 gene 하나씩 담아줌
        
    initial.append(ch)

In [46]:
initial

[[86, 88, 77, 87, 47, 25, 59],
 [64, 89, 34, 42, 15, 68, 51],
 [46, 59, 33, 42, 21, 52, 81],
 [82, 34, 90, 36, 58, 73, 80],
 [76, 83, 20, 8, 24, 14, 57],
 [94, 99, 44, 98, 4, 18, 26],
 [58, 64, 92, 33, 30, 15, 70],
 [9, 85, 36, 58, 89, 83, 39],
 [3, 95, 21, 1, 52, 99, 5],
 [79, 73, 2, 2, 50, 27, 2]]

## 핵심원리
 *리스트의 리스트를 만든다!!!*

In [47]:
def init_pop(gene, pop): # gene의 개수, chromosome의 수
    
    initial = []
    for i in range(pop):
        initial.append(numpy.random.randint(1,100, size = gene))
    
    return initial

### gene의 개수가 3개인 chromosome이 30개 담겨있는 population 생성하라

In [48]:
init_pop(3, 30)

[array([25, 67, 99]),
 array([80, 12, 16]),
 array([84, 59, 42]),
 array([43, 11, 76]),
 array([51, 85, 85]),
 array([43, 56, 17]),
 array([ 8, 12, 22]),
 array([75, 76, 34]),
 array([67, 41, 37]),
 array([52, 44, 94]),
 array([29, 20, 55]),
 array([78, 48, 46]),
 array([27, 92, 93]),
 array([33, 59, 77]),
 array([37, 74, 17]),
 array([69, 59, 51]),
 array([98, 76, 50]),
 array([86, 82, 11]),
 array([60, 10,  5]),
 array([96, 66, 26]),
 array([49, 98, 87]),
 array([66, 63, 80]),
 array([89, 50, 98]),
 array([16, 82, 28]),
 array([ 8,  7, 42]),
 array([35, 38, 79]),
 array([77, 69, 56]),
 array([75, 21, 91]),
 array([21, 48, 47]),
 array([37, 65,  1])]

In [35]:
import pandas as pd
pd.DataFrame(initial)

    0   1   2   3   4   5   6
0  75  64  72   9  51  49  27
1  25  39  22  57  58   1   8
2  57  99  82  86   3  99  15
3  67  57  34  65  95  97   4
4  72  45  84  39  70  39  28
5  47  32  58  29  13  77  86
6  52  75  99   9   3  23  22
7  50  30   7  80  48  29  25
8  24  87  65  91  22  75  39
9  86  62  78  39  27  14  67

# Fitness Function